venv/
.venv/
__pycache__/
*.py[cod]
.vscode/
.idea/

output/*
output_retry/*
errors/*
errors_final/*
checkpoints/*
logs/*
gdrive_alert/*
final/*

!output/.gitkeep
!output_retry/.gitkeep
!errors/.gitkeep
!errors_final/.gitkeep
!checkpoints/.gitkeep
!logs/.gitkeep
!gdrive_alert/.gitkeep
!final/.gitkeep

products-0-200000.csv
